<!DOCTYPE html>
<html lang="en">
  <style> body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(18, 71, 16);
    text-align: center;
  }
  form{
    text-align: center
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center
  }</style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Model Deployment</title>
</head>
<body>
  <h1>Enter the transaction Details</h1>
  <p>
    Enter the transaction Details
  </p>
  <form action="/" method="POST">
    <input type="number" name="step" placeholder="Step" required="required" /><br><br>
    <input type="number" name="type" placeholder="Type" required="required" /><br><br>
    <input type="number" name="amount" placeholder="Amount" required="required" step="any" /><br><br>
    <input type="number" name="oldbalanceOrg" placeholder="Old balance of origin account" required="required" step="any" /><br><br>
    <input type="number" name="newbalanceOrig" placeholder="New balance of origin account" required="required" step="any" /><br><br>
    <input type="number" name="oldbalanceDest" placeholder="Old balance Dest account" required="required" step="any" /><br><br>
    <input type="number" name="newbalanceDest" placeholder="New balance of dest account" required="required" step="any"/><br><br>
    <input type="number" name="isFlaggedFraud" placeholder="Flagged as Fraud" required="required" /><br><br>
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
  </form>
  
</body>
</html>